In [4]:
s = 'hi my name is chirag khambra'
print(s)
print(type(s))
print(s[-1])

hi my name is chirag khambra
<class 'str'>
a

In [ ]:
a = [1,2,3]
print(a)
b = ['hi','my', 'name','is','chirag',4]
print(b)

[1, 2, 3]
['hi', 'my', 'name', 'is', 'chirag', 4]

In [ ]:
Adding Elements in a list

In [ ]:
The first method is using append  function which inserts element specified at the end of the list

In [6]:
a.append('orange')
print(a)

[1, 2, 3, 'orange']

In [ ]:
The second method is using insert function whihch inserts element at a specific index

In [14]:
a.insert(0,'banana')
print(a)

['banana', 'banana', 1, 2, 3, 'orange']

In [ ]:
The third method is using extend funtion

In [16]:
a.extend(b)
print(a)

['banana', 'banana', 1, 2, 3, 'orange', 'hi', 'my', 'name', 'is', 'chirag', 4]

In [ ]:
Altering existing elements in a list

In [17]:
a[0] = 2
print(a)

[2, 'banana', 1, 2, 3, 'orange', 'hi', 'my', 'name', 'is', 'chirag', 4]

In [ ]:
Deleting elements in a list

In [ ]:
The first method is using remove function

In [18]:
fruits = ['banana', 'apple', 'grapes']
fruits.remove('banana')
print(fruits)

['apple', 'grapes']

In [19]:
fruits.extend(['banana','banana'])
print(fruits)

['apple', 'grapes', 'banana', 'banana']

In [21]:
print(fruits)

['apple', 'grapes', 'banana']

In [23]:
fruits.append('grapes')
print(fruits)
fruits.remove('grapes')
print(fruits)

['apple', 'grapes', 'banana', 'grapes', 'grapes']
['apple', 'banana', 'grapes', 'grapes']

In [ ]:
so it can be seen that the fist occurence 'banana' is deleted

In [ ]:
Another datatype in python is tuple but it is immutable

In [25]:
t1 = ('chirag','khambra',6)

In [26]:
print(t1)

('chirag', 'khambra', 6)

In [ ]:
Another datatype in python is set whichi is unordered

In [31]:
myset = {10,20,30}
print(myset)

{10, 20, 30}

In [35]:
print(myset)

{10, 20, 30}

In [42]:
print(myset)

{10, 20, 30}

In [43]:
print(myset)

{10, 20, 30}

In [44]:
print(myset[0])

TypeError: 'set' object is not subscriptable

In [49]:
gamma = set([1,2,3,4,5,'hello'])
print(gamma)

{1, 2, 3, 4, 5, 'hello'}

In [ ]:
We cannot access elements in sets using indexing

In [50]:
for i in gamma:
    print(i)

1
2
3
4
5
hello

In [2]:
beta = tuple([1,2,3,4,5,6,7])
print(beta)
delta = tuple({2,3,4})
print(delta)

(1, 2, 3, 4, 5, 6, 7)
(2, 3, 4)

In [ ]:
So list are mutable and tuples are immutable and both are ordered (python remembers the order in which they are added) 
another thing is that sets are unordered collection of data so indexing is not possible but they are mutable unlike frozen sets

In [ ]:
Operations on sets which are just add and remove

In [12]:
newset = {1,2,3,4,'whatsup'}
newset.add(5)
print(newset)
newset.remove(5)
print(newset)
print(type(newset))

{1, 2, 3, 4, 'whatsup', 5}
{1, 2, 3, 4, 'whatsup'}
<class 'set'>

In [14]:
set_1 = frozenset([3,4,6,7,'yo'])
print(set_1)
print(type(set_1))

frozenset({3, 4, 6, 7, 'yo'})
<class 'frozenset'>